# Arquivos do CLion
.idea/
cmake-build-debug/

# Arquivos de build
*.o
*.so
*.ko
*.obj
*.elf

# Arquivos de pacote
*.deb
*.rpm

# Arquivos temporários
*~
*.swp

# Arquivos de log
*.log

# Arquivos de sistema
.DS_Store

# Ignorar todos os arquivos .exe exceto os que estão na raiz do projeto
**/*.exe
!/*.exe
